@page "/addCar"
@page "/addCar/{ClientId:guid}"
@inject ICarService carService
@inject ICarTypeService carTypeService
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@attribute [AuthorizeRoles(Role.Manager)]

<h1>
    Dodaj/Powiąż Samochód
</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Klient</label>
                <input for="Name" class="form-control" @bind-value="@car.Client.Id" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Marka</label>
                <input for="Name" class="form-control" @bind-value="@car.Brand" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Model</label>
                <input for="Name" class="form-control" @bind-value="@car.Model" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Rok produkcji</label>
                <input for="Name" class="form-control" @bind-value="@car.ProductionYear" />
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Numer rejestracyjny</label>
                <input for="Name" class="form-control" @bind-value="@car.RegistrationNumber" />
            </div>
            <div class="form-group">
                <label for="Role" class="control-label">Typ</label>
                <select for="Role" class="form-control">
                    @foreach (CarType cartype in cartypes)
                    {
                        <option value="@cartype">@cartype.TypeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => CreateCar()">Zapisz</button>
                <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Anuluj</button>
            </div>
        </form>
    </div>
</div>

@code {

    [Parameter]
    public Guid ClientId { get; set; }
    private Car car = new Car();
    private IEnumerable<CarType> cartypes = new List<CarType>();

    protected override async Task OnInitializedAsync()
    {
        cartypes = await carTypeService.GetAllTypes();
    }

    protected override void OnParametersSet()
    {
        car = new Car
        {
            Client = new Client { Id = ClientId }
        };
        //pobieram klienta po ID
    }

    protected async Task CreateCar()
    {
        await carService.AddCar(car);
        navigationManager.NavigateTo("/clients");
    }

    void Cancel() => navigationManager.NavigateTo("/clients");
}