@page "/requests"
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IRequestService requestService;
<h1>Zgłoszenia</h1>

@if (requests == null)
{
    <div class="spinner"></div>
}
else
{
    <table id="activityTable" class="table table-striped table-bordered"  style="text-align:center;">
        <thead>
            <tr>
                <th>Klient</th>
                <th>Marka pojazdu</th>
                <th>Model</th>
                <th>Opis</th>
                <th>Wynik</th>
                <th>Status</th>
                <th>Data rejestracji zgłoszenia</th>
                <th>Data zakończenia zgłoszenia</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in requests)
            {
            <tr>
            @if (request.Car != null)
            {
                <td>@request.Car.Brand</td>
                <td>@request.Car.Model</td>
                <td>@request.Car.Client</td> 
            }
            else
            {
                <td></td>
                <td></td>
                <td></td>
            }
                <td>@request.Description</td>
                <td>@request.Result</td>
                <td>@request.Status</td>
                <td>@request.Reqistered</td>
                <td>@request.FinishedOrCancelled</td>
                <td><button type="button" class="btn btn-primary" @onclick="() => RealizeActivity(request)">Realizuj</button></td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    public IEnumerable<Request> requests = new List<Request>();

    protected override async Task OnInitializedAsync()
    {
        requests = await requestService.GetAllRequests();// new List<Request> { new Request() {
        await base.OnInitializedAsync();
    }

    protected void RealizeActivity(Request request)
    {
        navigationManager.NavigateTo($"/activities/{request.Id}");
    }
}
